<!DOCTYPE html>
<html>
<head>
	<title>cloud</title>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Training", home_training_path %>
<%= link_to "Cloud", home_cloud_path %>
<%= link_to "About", home_about_path %>
<%= link_to "Contact", home_contact_path %>

<%yield%>
</body>
</html>