<!DOCTYPE html>
<html>
<head>
	<title>cloud</title>
</head>
<body>
	
<div class="navbar">
	<nav>
		<%= link_to "Home", root_path %> 
		<%= link_to "Training", home_training_path %> 
		<%= link_to "Cloud", home_cloud_path %> 
		<%= link_to "About", home_about_path %> 
		<%=	link_to "Contact", home_contact_path %>	
	</nav>
	<div class="login">
		<%= link_to "Login", new_user_session_path %>
		<%= link_to "Signup",  new_user_registration_path %>
	</div>

</div>	

<%yield%>
</body>
</html>